/* #home-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#login {
    margin-right: 10px;
    height: 40px;
    width: 100px;
}

#register{
    margin-left: 10px;
    height: 40px;
    width: 100px;
} */