/* .edit-user-form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
.edit-user-form-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #msg {
    color: #555;
    text-align: center;
  }
  
 .btn-edit {
    width: 100px;
    margin-right: 2px;
  }

  .btn-edit2 {
    width: 100px;
    margin-left: 2px;
  } */
